* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #222222;
  line-height: 1.6;
  font-family: "freight-sans-pro";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.content {
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  max-width: 25em;
  z-index: 100000; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

h1 {
  font-family: "din-condensed-web";
  text-transform: uppercase;
  margin: 0; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #444444;
  -webkit-transition: ease-in 0.25s;
  -moz-transition: ease-in 0.25s;
  transition: ease-in 0.25s; }
  a:hover {
    color: #777777;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    transition: ease-in 0.25s; }

ul {
  padding: 0;
  margin: 0; }

li {
  display: inline;
  margin: 0 10px; }
